[Unit]
Description=Vexing Workshop Gopher Server

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=vexing_gopher -H <hostname>

[Install]
WantedBy=default.target
