cffi==1.14.0
click==7.1.2
cryptography==2.9.2
flake8==3.8.2
Flask==1.1.2
Flask-Gopher==2.2.1
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
pkg-resources==0.0.0
pycodestyle==2.6.0
pycparser==2.20
pyfiglet==0.7.6
pyflakes==2.2.0
pyOpenSSL==19.1.0
six==1.15.0
tabulate==0.8.7
-e git+git@github.com:coyote240/vexing-gopher.git@ba4f6a66118d203ebce5ab6d5bca7345c53c13ba#egg=vexing_gopher
Werkzeug==0.16.1
zipp==1.2.0
